$headersFFamily:'Source Sans Pro', sans-serif;
$logoFFamily: 'Hind', sans-serif;
$sectionCardTextFFamily: 'Hind', sans-serif;
$footerFFamily: 'Hind', sans-serif;
$backgroundBanner: url("../img/m-h-day.jpg") no-repeat center;
$colors: ("bodyColor": #fff, "underlineColor": #14a0c7,
        "btnColor": #699900, "textColor": #c0c3ce,
        "mainTextColor": #2c2f3c, "footerColor": #21232e,
        "cardColor": #21232e, "sectionBannerHeading": #2c2f3c,
        "sectionBannerColor": linear-gradient(to right, #659412, #305ecd),);
