$headersFFamily:'Source Sans Pro', sans-serif;
$logoFFamily: 'Fresca', sans-serif;
$sectionCardTextFFamily: 'Fresca', sans-serif;
$footerFFamily: 'Fresca', sans-serif;
$backgroundBanner: url("../img/m-h-night.jpg") no-repeat center;
$colors: ("bodyColor": #21232e, "underlineColor": #ff4e33,
        "btnColor": #e3ac00, "textColor": #d1d1d1,
        "mainTextColor": #fff, "footerColor": #3b3f50,
        "cardColor": #3b3f50, "sectionBannerHeading": #fff,
        "sectionBannerColor": linear-gradient(to right, #dca007, #9a394a));
